.breadcrumb {
    color: black;
    line-height: 64px;
}
.breadcrumbs > i {
    line-height: 64px;
}

.breadcrumb:last-child {
    font-weight: 500;
    color: black;
}

 .breadcrumb:before {
    color: black;
}

.breadcrumb:hover {
    color: blue;
}

.breadcrumb i{
    color: black;
}
.material-icons {
    margin-right: 2px;
    position: relative;
    top: 4px
}

.material-icons:hover {
    color: blue;
}

@media only screen and (max-width : 992px) {
    .breadcrumb-nav {
        display: none;
    }
}