.registratie-container {
    margin: 20px;
    padding: 30px;
}

span.title{
    font-size:2vw;
    margin-left:10px;
}

@media screen and (max-width: 900px) {
    span.title {
        font-size: 3vw;
    }
}

@media screen and (max-width: 768px) {
    span.title{
        font-size:4vw;
    }
}