@import url('https://fonts.googleapis.com/css?family=Mitr|Raleway');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.brand-logo,
nav > li,
h1, h2, h3, h4, h5, h6,
.btn {
    font-family: 'Mitr', sans-serif;
}

main {
    flex: 1 0 auto;
}

.banner {
    width: 100%;
    height: 40vh;
    background: url("img/nick-coleman-1462553-unsplash.jpg") center center;
    background-size: cover;
}

.hero {
    width: 100%;
    height: 100%;
}

.hero h3 {
    text-shadow: 1px 1px 4px #263238;
}

.top-link {
    font-size: 0.8em;
}

#nav-category a {
    font-size: 0.7em !important;
}

.veiling-card {

}

.veiling-card .card-title {
    height: 200px;
}

.no-margin {
    margin: 0 !important;
}

.brand-logo {
    line-height: 10px;
    font-size: 2.0em !important;
}

@media only screen and (max-width: 768px) {
    .brand-logo {
        font-size: 16px !important;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 80% !important;
    }
}

.brand-logo img {
    position: relative;
    width: 50px;
    height: 50px;
    top: 12px;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #efebe9;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

*::-webkit-scrollbar-thumb {
    background: #b0bec5;
    border-left: 2px solid rgba(0,0,0,0);
    border-right: 2px solid rgba(0,0,0,0);
    border-bottom: 15px solid rgba(0,0,0,0);
    border-top: 15px solid rgba(0,0,0,0);
    border-radius: 2px;
    background-clip: padding-box;
}
*::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

