.veiling.card {
    display: flex;
    flex-direction: column;
}
.veiling.card .card-image img {
    max-height: 200px !important;
}
.veiling.card .card-image img.materialboxed.active {
    max-height: none !important;
}

.veiling.card .card-title {
    text-shadow: 1px 1px 4px #263238;
}

.veiling.card .card-content.description {
    flex: 1 0 auto;
}

.veiling.card .card-content {
    padding: 5px 20px;
    position: relative;
    z-index: 2;
}
.veiling-countdown {
    font-size: 2em;
}